aiohttp==3.8.1; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6"
asgiref==3.5.0; python_version >= "3.8"
async-timeout==4.0.2; python_version >= "3.6"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.6.0")
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
coreapi==2.3.3; python_version >= "3.6"
coreschema==0.0.4; python_version >= "3.6"
django-debug-toolbar==3.2.4; python_version >= "3.6"
django-ninja==0.17.0; python_version >= "3.6"
django-ratelimit==3.0.1; python_version >= "3.4"
django-seed==0.3.1
django-storages==1.12.3; python_version >= "3.5"
django-user-agents==0.4.0
django-widgets==0.1.16
django==4.0.4; python_version >= "3.8"
djangorestframework==3.13.1; python_version >= "3.6"
drf-yasg==1.20.0; python_version >= "3.6"
faker==13.6.0; python_version >= "3.6"
frozenlist==1.3.0; python_version >= "3.7"
geoip2==4.5.0; python_version >= "3.6"
google-api-core==2.7.3; python_version >= "3.7"
google-auth==2.6.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
google-cloud-core==2.3.0; python_version >= "3.7"
google-cloud-storage==2.3.0; python_version >= "3.7"
google-crc32c==1.3.0; python_version >= "3.7"
google-resumable-media==2.3.2; python_version >= "3.7"
googleapis-common-protos==1.56.0; python_version >= "3.7"
gunicorn==20.1.0; python_version >= "3.5"
idna==3.3; python_version >= "3.5"
inflection==0.5.1; python_version >= "3.6"
itypes==1.2.0; python_version >= "3.6"
jinja2==3.1.2; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
maxminddb==2.2.0; python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7"
mysqlclient==2.1.0; python_version >= "3.5"
packaging==21.3; python_version >= "3.6"
protobuf==3.20.1; python_version >= "3.7"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.6.0"
pyasn1==0.4.8; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and python_full_version >= "3.6.0"
pydantic==1.9.0; python_full_version >= "3.6.1" and python_version >= "3.6"
pymysql==1.0.2; python_version >= "3.6"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
python-dotenv==0.20.0; python_version >= "3.5"
pytz==2022.1; python_version >= "3.6"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
rsa==4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.6"
ruamel.yaml==0.17.21; python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8"
toposort==1.7
typing-extensions==4.2.0; python_full_version >= "3.6.1" and python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
ua-parser==0.10.0
uritemplate==4.1.1; python_version >= "3.6"
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
user-agents==2.2.0
yarl==1.7.2; python_version >= "3.6"
